header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    height: 100%;
    text-align: center;
    position: relative;
}

/* ================CTA=============== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}


/* ================HeaderSocials=============== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    position: absolute;
    left: 0;
    bottom: 3.8rem;
    gap: 0.8rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background-color: var(--color-primary);
    margin: 0 auto;
}

/* ================Image=============== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    margin: 2rem auto;
    height: 30rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 2.5rem 0.5rem 0.5rem 0.5rem;
}



.scroll__down {
    transform: rotate(90deg);
    position: absolute;
    right: -3.5rem;
    bottom: 5.6rem;
    font-weight: 300;
    font-size: 0.9rem;
    letter-spacing: 6px;
}

/* ===============================MEDIA QUERIES (MEDIUM DEVICES)==================================== */

@media screen and (max-width:1024px) {

    header {
        height: 68vh;
    }

}

/* ===============================MEDIA QUERIES (SMALL DEVICES)==================================== */

@media screen and (max-width:600px) {
    header {
        height: 100vh
    }

    .scroll__down,
    .header__socials {
        display: none;
    }

}